<footer class="footer">
    <div class="footer-section-container">
        <section class="footer-section">
            <h3 class="section-title"><strong>Abstract</strong></h3>
            <a  href="">Star Trial</a>
            <a  href="">Pricing</a>
            <a  href="">Download</a>
        </section>
        <section class="footer-section">
            <h3 class="section-title"><strong>Resources</strong></h3>
            <a href="">Blog</a>
            <a  href="">Help Center</a>
            <a href="">Release Notes</a>
            <a  href="">Status</a>
        </section>
        <section class="footer-section">
            <h3 class="section-title"><strong>Community</strong></h3>
            <a href="">Twitter</a>
            <a href="">LinkedIn</a>
            <a href="">Facebook</a>
            <a href="">Dribble</a>
            <a href="">Podcast</a>
        </section>
        <section class="footer-section">
            <h3 class="section-title"><strong>Company</strong></h3>
            <a href="">About Us</a>
            <a href="">Careers</a>
            <a href="">Legal</a>
            <h4>Contact Us</h4>
            <a href="">Info@abstract.com</a>
        </section>
        <section class="section-end">
            <img class="footer-img" src="../../../assets/images/derechos-de-autor (1).png" alt="Company icon">
            <div class="company-container">
                <p>Copyright 2022</p>
                <p>Abstract Studio Design, Inc.</p>
                <p>All rights reserved</p>
            </div>
        </section>
    </div>
    
</footer>
