.navbar-container {
    height: 395px;
    width: 100vw;
    background-color: #dadbf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar-label {
 font-size: 70px;
 margin-bottom: 80px;
}

.navbar-input {
    height: 64px;
    width: 725px;
    border-radius: 3px;
    border: 1px solid;
    font-size: 20px;
    text-indent: 10px;
}
.img {
    height: 30px;
    width: auto;
    position: absolute;
    margin-bottom: -104px;
    margin-left: 664px;
}