<div class="header">
    <div class="header-left-side">
        <img class="left-side-img" src="../../../assets/images/logo.png" alt="Company icon">
        <a class="left-side" href="">Abstract &NonBreakingSpace;</a>
        <td class="left-side"> | </td>
        <a class="left-side" href=""> &NonBreakingSpace; Help Center</a>
    </div>
    <div>
        <button class="button-right-side">Submit a request</button>
        <button class="button-right-side-sign">Sign In</button>
    </div>
</div>
    