<main class="main">
    <div class="section-container">
        <div></div>
        <section class="section">
            <img class="section-img" src="../../../assets/images/cadena-de-suministro.png" alt="chain icon">
            <article class="article">
                <h1><strong>Using Abstract</strong></h1>
                <p>Abstract lets you manage, version, and document your designs in one place.</p>
                <a href="">Learn More</a>
            </article>
        </section>
        <section class="section">
            <img class="section-img" src="../../../assets/images/skills.png" alt="chain icon">
            <article class="article">
                <h1><strong>Manage your account</strong></h1>
                <p>Configure your account settings, such as your email, profile details, and password.</p>
                <a href="">Learn More</a>
            </article>
        </section>
        <div></div>
        <div></div>
        <section class="section">
            <img class="section-img" src="../../../assets/images/online-meeting.png" alt="chain icon">
            <article class="article">
                <h1><strong>Manage organizations, teams, and projects</strong></h1>
                <p>Use Abstract organizations, teams, and projects to organize your people and your work.</p>
                <a href="">Learn More</a>
            </article>
        </section>
        <section class="section">
            <img class="section-img" src="../../../assets/images/dollar.png" alt="chain icon">
            <article class="article">
                <h1><strong>Manage billing</strong></h1>
                <p>Change subscriptions and payment details.</p>
                <a href="">Learn More</a>
            </article>
        </section>
        <div></div>
        <div></div>
        <section class="section">
            <img class="section-img" src="../../../assets/images/key.png" alt="chain icon">
            <article class="article">
                <h1><strong>Authenticate to Abstract</strong></h1>
                <p>Set up and configure SSO, SCIM, and Just-in-Time provisioning.</p>
                <a href="">Learn More</a>
            </article>
        </section>
        <section class="section">
            <img class="section-img" src="../../../assets/images/online-chat.png" alt="chain icon">
            <article class="article">
                <h1><strong>Abstract support</strong></h1>
                <p>Get in touch with a human.</p>
                <a href="">Learn More</a>
            </article>
        </section>
    </div>
</main>
